@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  justify-content: space-between;
  background-color: #21222A;
  padding: 10px 20px;
  
}
.Logo, nav{
  display: flex;
  align-items: center;
}
.Logo h2{
  color: #61DAFB;
  ;
} 
nav h3{
  color: #DEEBF8;
  font-weight: 400;

}
